<phpunit bootstrap="./vendor/autoload.php"
         backupStaticAttributes="false"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="AppDomain">
            <directory>tests/unit//Domain</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="junit" target="tests/unit/results/unit.xml" logIncompleteSkipped="false" charset="UTF-8"/>
    </logging>
    <filter>
        <blacklist>
            <directory>./vendor</directory>
            <directory>./tests</directory>
        </blacklist>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>